html {
    background-color: #392113;
}
body {
    text-align: center;
}

.title {
    color: #407F3D
}
#h1 {
    color: #407F3D
}

#animalInput{
    padding-bottom: 20px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #407F3D;
    color: white;
    text-align: center;
  }
  footer a {
    color: #392113
  }